* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
   
}
body{
    background-color:#1b2834 ;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0; 
    background-color: #fff;
    width: 100%;
    padding: 10px;
    
}
.navbar  h1{
    color:#8c7c73;
    font-size: 32px;
    font-weight: bolder;
    cursor: pointer;
    
}

.navbar a{
    text-decoration: none;
}
.navbar h1:hover{
    color: #1b2834;
    transition: .8s;
}
.navmenu ul{
    margin: 0;
    padding: 0;
    display: flex;
 
    
}
.navmenu  li{
    list-style: none;
}

.navmenu li a{
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 25px;
    color:#1b2834;
    border-radius: 20px;
}

.navmenu a:hover {
   text-decoration: underline #f6d1ba ;
    
}


.toggle-btn {
    position: absolute;
    top: .7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-btn .bar {
    background-color: #1b2834;
    height: 4px;
    width:100%;
   
    
}


.social a {
    font-size: 24px;
    padding: 5px;
    margin: 5px;
    color: #1b2834;
}
.social a:hover {
    color: #f6d1ba;
    transition: 1s ease-in-out;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .toggle-btn {
        display: flex;
        
    }
  
    .navmenu  {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navmenu ul {  
        flex-direction: column;
    }

    .navmenu li  {
        text-align: center;
    }

    .navmenu li a {
        padding: 5px 10px;
    }

    .navmenu.active {
        display: flex;
       justify-content: center;
       align-items: center;
       font-size: 50px;
       
       
    }
    .toggle-btn.active .bar:nth-child(2){
        opacity: 0;        
    }
    .toggle-btn.active .bar:nth-child(1){
        transform: translateY(9px) rotate(50deg);
        transition: 1s ease-in-out;
    }
    .toggle-btn.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-50deg);
        transition: 1s ease-in-out;
    }

    .social {
      display: none;
    }
}




.scrolImg {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.img {
    width: 100%;
    display: none;
    
    
}

.active {
    display: grid;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
 .btn button {
    background: #8c7c73;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    font-size: 15px;
    border: none;
    cursor: pointer;
     
}

.about-container {
    height: 100vh;
    background-image: url(/images/mike-kenneally-TD4DBagg2wE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.about-header  {
    font-size: 52px;
    font-weight: bold;
    color: #f6d1ba;
}

.card-about {
    width: 500px;
    font-size: 32px;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: #fff;
    background-color: #1b2834aa;
    padding: 20px;
    border-radius: 50px ;
    display: grid;
    justify-content: center;
    align-items: center;
}


.card{
    padding-top: 24px;
    margin: 24px;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 25px;
    grid-template-columns: 1,  1fr; 
}

.grid-col-span-2 {
    grid-column: span 2;
}
.card:first-child{
    grid-row: 1/ span 2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
}
.menu {
    font-family: sans-serif;
    font-size: 14px;
}
.menu-group-heading {
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
}
.menu-group {
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1.5em;
    padding: 1.5em 0;
}

@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;
    }
}

.backtop {
    position: fixed;
    background-color: #fff;
    color: #f6d1ba;
    bottom: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 32px;
    font-size: 32px;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 2s;
}

.backtop.active {
    opacity: 1;
    pointer-events: auto;
    bottom: 32px;
}